* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Navbar */

nav {
  background-color: #5f9ea0;
  padding: 15px;
}

nav .nav-bar {
  width: fit-content;
  margin-left: auto;
}

nav .nav-bar li {
  display: inline;
  margin: 20px;
}

nav .nav-bar li a {
  font-size: 25pxpx;
  text-decoration: none;
  font-weight: bold;
}

/* Home */

.home {
  background-image: url(img0.png);
  height: 100vh;
  background-size: cover;
}

.home .home-isi {
  width: 45%;
  padding: 170px 40px;
}

.home .home-isi h1 {
  margin: 20px 0px;
  margin-top: 15px;
  color: #ff7f00;
  font-size: 40px;
}

.home .home-isi .our-course {
  padding: 30px;
  position: relative;
}

.home .home-isi .our-course button {
  background-color: #4682b4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  font-weight: bold;
  color: white;
  left: 0px;
}

/* About */
.about {
  background-color: #dae8e8;
  height: 70vh;
  box-sizing: border-box;
  padding: 15px;
}

.about .about-isi {
  width: fit-content;
}

.about .about-isi h3 {
  font-size: 25px;
}

.about .about-isi .isi {
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
  background-color: #5f9ea0;
  padding: 25px;
  border-radius: 50px;
}

.about .about-isi .isi p {
  font-size: 20px;
}

/* Course */
.course {
  background-color: #dae8e8;
  height: 130vh;
  box-sizing: border-box;
  padding: 60px 130px 60px 130px;
}

.course .course-isi {
  width: fit-content;
}

.course .course-isi h3 {
  font-size: 25px;
}

.course .course-isi .kolom {
  width: 300px;
  height: 580px;
  background-color: #cdbba7;
  border-radius: 10px;
  float: left;
  margin: 50px 28px;
  border: 3px solid black;
}

.course .course-isi .kolom .kolom-gambar {
  width: 100%;
  margin-bottom: 20px;
  height: 50%;
}

.course .course-isi .kolom .kolom-gambar img {
  width: 100%;
}

.course .course-isi .kolom .kolom-kata {
  padding: 20px;
  margin-top: 100px;
}

.course .course-isi .kolom .kolom-kata h4 {
  font-size: 22px;
}

.course .course-isi .kolom .kolom-kata p {
  font-size: 15px;
}

/* Fitur */
.fitur {
  background-color: #dae8e8;
  height: 130vh;
  box-sizing: border-box;
}

.fitur .fitur-isi {
  width: fit-content;
}

.fitur .fitur-isi h3 {
  font-size: 25px;
  width: fit-content;
  padding-left: 100px;
}

.fitur .fitur-isi .kolom {
  width: 500px;
  height: 250px;
  background-color: #97d0d3;
  border-radius: 10px;
  float: left;
  margin: 80px 0px 10px 110px;
}

.fitur .fitur-isi .kolom .kolom-gambar {
  width: 90%;
  margin-bottom: 20px;
  height: 50%;
  float: left;
}

.fitur .fitur-isi .kolom .kolom-gambar img {
  width: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.fitur .fitur-isi .kolom .kolom-kata {
  padding: 10px;
  background-color: #97d0d3;
  width: 50%;
  margin-left: 250px;
}
.fitur .fitur-isi .kolom .kolom-kata h4 {
  font-size: 22px;
}

.fitur .fitur-isi .kolom .kolom-kata p {
  font-size: 13px;
}

.fitur .fitur-isi .kolom .kolom-kata button {
  background-color: #b85c38;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.clear {
  clear: left;
}

/* Price */
.price {
  background-color: #dae8e8;
  height: 100vh;
  box-sizing: border-box;
  padding: 15px;
}

.price .price-isi {
  width: fit-content;
}

.price .price-isi h3 {
  font-size: 25px;
  width: fit-content;
  padding-left: 70px;
}

.price .price-isi .kolom {
  width: 300px;
  height: 550px;
  background-color: #f5df4d;
  border-radius: 10px;
  float: left;
  margin: 30px 60px;
  box-shadow: -4px -4px 9px white;
}

.price .price-isi .kolom .kolom-kata {
  height: 85%;
  padding: 20px;
}

.price .price-isi .kolom .kolom-kata h4 {
  font-size: 22px;
}

.price .price-isi .kolom .kolom-kata p {
  font-size: 15px;
}

.price .price-isi .kolom button {
  background-color: #36a5b2;
  padding: 10px 90px;
  border: none;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20px;
}

.clear {
  clear: left;
}
