* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Navbar */

nav {
  background-color: #fcf9f4;
  padding: 15px;
}

nav .nav-bar {
  width: fit-content;
  margin-left: auto;
}

nav .nav-bar li {
  display: inline;
  margin: 20px;
}

nav .nav-bar li a {
  font-size: 20pxpx;
  text-decoration: none;
  font-weight: bold;
}

/* Home */

.home {
  background-color: #fcf9f4;
  height: 100vh;
  box-sizing: border-box;
  padding: 15px;
}

.home .home-isi-isi {
  width: 20%;
  height: 20%;
  margin: auto;
}

.home .home-isi-isi img {
  width: 100%;
}

.home .home-isi {
  width: 30%;
  float: left;
  margin: 20px;
}

.home .home-isi img {
  width: 100%;
}

/* About */

.about {
  background-color: #f1adc4;
  height: 50vh;
  box-sizing: border-box;
  padding: 15px;
}

.about .about-isi {
  width: fit-content;
}

.about .about-isi h3 {
  font-size: 25px;
  margin: 20px 45px;
}

.about .about-isi .isi {
  width: 50%;
  background-color: #fcf9f4;
  margin: 50px 300px;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid black;
}

.about .about-isi .isi p {
  font-size: 20px;
}

/* Product */
.product {
  background-color: #fcf9f4;
  height: 360vh;
  box-sizing: border-box;
  padding: 15px;
}

.product .product-isi {
  width: fit-content;
}

.product .product-isi h3 {
  font-size: 25px;
  margin: 20px 45px;
}

.product .product-isi .kolom {
  width: 280px;
  height: 500px;
  background-color: #f1adc4;
  float: left;
  margin: 30px 27px 27px 20px;
}

.product .product-isi .kolom .kolom-gambar {
  width: 100%;
  margin-bottom: 20px;
  height: 50%;
}

.product .product-isi .kolom .kolom-gambar img {
  width: 90%;
  margin: 15px;
}

.product .product-isi .kolom .kolom-kata {
  padding: 20px;
}

.product .product-isi .kolom .kolom-kata h4 {
  font-size: 22px;
}

.product .product-isi .kolom .kolom-kata p {
  font-size: 15px;
}

.product .product-isi .kolom .kolom-kata button {
  background-color: #fff1e6;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.clear {
  clear: left;
}

/* Contact */

.contact {
  background-color: #f1adc4;
  width: 100%;
  height: 85vh;
  box-sizing: border-box;
  padding: 40px;
}

.contact .contact-isi {
  width: fit-content;
}

.contact .contact-isi h3 {
  font-size: 25px;
  margin: 20px 45px;
}

.contact .contact-isi h3 span {
  color: #7c0a02;
}
.contact .contact-isi .isi {
  background-color: #ffe2ec;
  width: 80%;
  padding: 50px;
  margin-top: 100px;
  margin-left: 280px;
  border-radius: 50px;
}

.contact .contact-isi .isi h4 {
  font-size: 50px;
  width: fit-content;
}

.contact .contact-isi .isi p {
  font-size: 30px;
  width: fit-content;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: auto;
}
.contact .contact-isi .isi button {
  background-color: gray;
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-left: 120px;
  font-weight: bold;
  border-radius: 5px;
}
